server:
  port: 8081
  servlet:
    context-path: /

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/mockly_db?currentSchema=user_service
    username: mockly
    password: mockly_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_URL:http://localhost:8080}/realms/${KEYCLOAK_REALM:mockly}
          jwk-set-uri: ${KEYCLOAK_URL:http://localhost:8080}/realms/${KEYCLOAK_REALM:mockly}/protocol/openid-connect/certs
  rabbitmq:
    host: ${MQ_HOST:localhost}
    port: ${MQ_PORT:5672}
    username: ${MQ_USER:mockly_user}
    password: ${MQ_PASS:mockly_pass}

keycloak:
  url: ${KEYCLOAK_URL:http://localhost:8080}
  realm: ${KEYCLOAK_REALM:mockly}
  client-id: mockly-backend
  client-secret: mockly-secret
